body {
    margin: 0;
    .App {
        height: 100vh;
        width: 100vw;
        .content {
            padding: 20px;
        }
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}
